APP_VERSION=0.0.1
APP_NAME=sheets
DESCRIPTION=sheets - backend service
AUTHOR=Your Name

APP_ENV=development
DEBUG=true
DEBUG_LEVEL=DEBUG

POSTGRES_HOST=db
POSTGRES_DB=sheets_pg
POSTGRES_USER=sheets_dev
POSTGRES_PASSWORD=change_me_dev
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=md5