APP_VERSION=0.0.1
APP_NAME=sheets
DESCRIPTION=sheets - backend service
AUTHOR=Your Name

APP_ENV=production
DEBUG=false
DEBUG_LEVEL=INFO

POSTGRES_HOST=db
POSTGRES_DB=sheets_pg
POSTGRES_USER=sheets_app
POSTGRES_PASSWORD=change_me_prod_strong_password
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=md5